.App {
	min-height: 100vh;
	color: inherit;
	background-image: linear-gradient(164deg, #ff8484 5%, #fff69b 77%);
}

.search-form {
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar {
	width: 30%;
	border-radius: 15px;
	border: none;
	padding: 10px;
}

.search-button {
	background: lightcoral;
	border: none;
	padding: 10px 20px;
	color: white;
	border-radius: 15px;
}

.recipes {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
